@charset "utf-8";
/***
公用样式表
****/
/*color*/
$backgroudColor: #F3F3F3;
$colorWhite: #FEFFFF;
$colorBlack: #0F0F0F;
$colorBase: #3B3B3B;
$colorGray: #555555;
$colorRed: #E63738;
$colorBrow: #EC7F19;
$colorBlue: #2093EC;
$colorBlueLight: #64B3F0;
$colorGreenLight:#EEF7FE;
$colorGreen: #1EB840;

/*字体大小*/
$fontSizeBase: 0.76rem;
$fontSize-s: 0.5rem;
$fontSize-s-l:0.65rem;
$fontSize-m-s:0.7rem;
$fontSize-m: 0.8rem;
$fontSize-l: 0.9rem;
$fontSize-lx: 1rem;
/*高度*/
$contentHeight: calc(100vh - 7vh);
$tabHeight: 7vh








